#{extends 'standardForm.html' /}
#{extends 'TempViewFolder/template.html' /}

<div id="mainTitle">PLAĆANJE</div>
              
                  
               <div id="nalogHolder">
                   <form action="@{Placanje.add(session.idKlijenta)}" method="post">
                      <div id="nalog">
                      
                       <div id="nalogL">
                       
                          #{field 'id'}
            					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
        				  #{/}
                       	#{field 'duznik'}
							 <label for = "${field.id}">Dužnik - nalogodavac</label>
							 <br>
							 <input type = "text" name = "${field.name}" id = "${field.id}" />
						 	<span>#{error 'duznik' /}</span>
						#{/}
                       <br>
                        #{field 'svrhaPlacanja'}
							 <label for = "${field.id}">Svrha plaćanja</label>
							 <br>
							 <input type = "text" name = "${field.name}" id = "${field.id}" />
						 	<span>#{error 'svrhaPlacanja' /}</span>
						#{/}
                       <br>
                        #{field 'primalac'}
							 <label for = "${field.id}">Poverilac - primalac</label>
							 <br>
							 <input type = "text" name = "${field.name}" id = "${field.id}" />
							<span>#{error 'primalac' /}</span>
						#{/}
                    
                       </div>
                       <div id="nalogR">
                          #{field 'sifraPlacanja'}
							 <label for = "${field.id}">Šifra plaćanja</label>
							 <br>
							 <input size="3" maxlength="3" type = "text" name = "${field.name}" id = "${field.id}" />
							<span>#{error 'sifraPlacanja' /}</span>
						#{/}
                     
                       
                       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="valuta" value="RSD" size="3" maxlength="3"> Valuta
                           <br>
                           #{field 'iznos'}
							 <label for = "${field.id}">Iznos</label>
							 <br>
							 <input  type = "nubmer" name = "${field.name}" id = "${field.id}" />
							<span>#{error 'iznos' /}</span>
							#{/}
                      <br>
                       Račun dužnika - nalogodavca
                           <br>
                       <select id="racunDropdown">
                       	#{list items:racuni, as:'racun'}
                           <option value="1">${racun.brojRacuna}</option>
                        #{/list}
                       </select>
                           <br>
                           #{field 'modelZaduzenja'}
							 <label for = "${field.id}">Model i poziv na broj zaduženja</label>
							 <br>
							 <input  size="5" maxlength="5" type = "nubmer" name = "${field.name}" id = "${field.id}" />
							<span>#{error 'modelZaduzenja' /}</span>
							#{/}

                          #{field 'pozivNaBrojZaduzenja'}

							 <input   type = "text" name = "${field.name}" id = "${field.id}" />
							<span>#{error 'pozivNaBrojZaduzenja' /}</span>
							#{/}
							<br>
                    
                       #{field 'racunPoverioca'}
							 <label for = "${field.id}">Račun poverioca - primaoca</label>
							 <br>
							 <input type = "text" name = "${field.name}" id = "${field.id}" />
						 	<span>#{error 'racunPoverioca' /}</span>
						#{/}
                     <br>
                           #{field 'modelOdobrenja'}
							 <label for = "${field.id}">Model i poziv na broj odobrenja</label>
							 <br>
							 <input  size="5" maxlength="5" type = "nubmer" name = "${field.name}" id = "${field.id}" />
							<span>#{error 'modelOdobrenja' /}</span>
							#{/}

                          #{field 'pozivNaBrojOdobrenja'}

							 <input   type = "text" name = "${field.name}" id = "${field.id}" />
							<span>#{error 'pozivNaBrojOdobrenja' /}</span>
							#{/}
							<br>                     
                       
                       
                       </div>
                       </div>
                       <div id="nalogButtons">
                           <div id = "formActions">
				        <input type = "submit" value = "Potvrda" style="margin-left:6em"/>
				        </div>
                       </div>
                  </form>
               