<div id="mainTitle">STANЈЕ I OSNOVNI PODACI O RAČUNU</div>
<table id="detaljiRacuna">
   <thead>
       <td id="brojRacunaL">Broj računa:</td>
       <td id="brojRacunaR">678-121212123-00</td>
   </thead>
   <tbody>
       <tr>
           <td id="vlasnikRacunaL">Vlasnik računa:</td>
           <td id="vlasnikRacunaR">Pera Perić</td>
       </tr>
       <tr>
           <td id="datumOtvaranjaL">Datum otvaranja računa:</td>
           <td id="datumOtvaranjaR">01.01.2008.</td>
       </tr>
       <tr>
           <td id="trenutnoStanjeL">Trenutno stanje:</td>
           <td id="trenutnoStanjeR">35000 RSD</td>
       </tr>
       <tr>
           <td id="poslednjaPromenaL">Poslednja promena:</td>
           <td id="poslednjaPromenaR">-250.00 RSD</td>
       </tr>
       <tr>
           <td id="poslednjaUplataL">Poslednja uplata:</td>
           <td id="poslednjaUplataR">1250.00 RSD</td>
       </tr>
       <tr>
           <td id="poslednjaIsplataL">Poslednja isplata:</td>
           <td id="poslednjaIsplataR">250.00 RSD</td>
       </tr>
   </tbody>
</table>
<div id="detailButtons">
    <a href="" id="poslednjaPromenaDetaljno">INFO</a>
    <a href="" id="poslednjaUplataDetaljno">INFO</a>
    <a href="" id="poslednjaIsplataDetaljno">INFO</a>
</div>
<div id="detailButtonHolder">
   <a href="" class="button">Provera uplata</a>
   <a href="" class="button">Pregled plaćanja</a>
   <a href="" class="button">Gašenje računa</a>
</div>